[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
requests = "*"
passlib = "*"
psycopg2 = "*"
gunicorn = "*"
WTForms = "*"
Flask = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "*"
Flask-SocketIO = "*"
Flask-Login = "*"

[requires]
python_version = "3.8"
