[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
requests = "*"
passlib = "*"
psycopg2 = "*"
greenlet = "*"
gunicorn = "*"
gevent = "*"
gevent-websocket = "*"
itsdangerous = "*"
python-engineio = "*"
python-socketio = "*"
six = "*"
WTForms = "*"
Flask = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "*"
Flask-SocketIO = "*"
Flask-Login = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[requires]
python_version = "3.8"
