<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <link rel="shortcut icon" type="image/png" href="./img/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" />
    {% block head %} {% endblock %}

    {% if title %}
        <title>{{ title }} - Chat App</title>
    {% else %}
        <title>Chat App</title>
    {% endif %}<title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="
        background: #74b9ff;
        background: linear-gradient(to right, #2da9fc, #74b9ff);
      ">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block">
                <!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand" href="#" style="color: #000000; font-family: pacifico;">
                Chat App
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
            <ul class="navbar-nav ml-auto flex-nowrap">
                {% if is_authenticated %}
                    <li class="nav-item mr-2">
                        <a href="{{ url_for('main.logout') }}" class="nav-link" style="color: #000000; font-size: 17px;">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item mr-2">
                        <a href="{{ url_for('main.login') }}" class="nav-link" style="color: #000000; font-size: 17px;">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
      <div class="row">
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                  {% for category, message in messages %}
                        <div id="alert" class="col-lg-6 text-center mx-auto"><br>
                          <div class="alert alert-{{ category }}">{{ message }}</div>
                        </div>
                  {% endfor %}
            {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>